html,
body,
#map-canvas {
    height: 120%;
    margin: 0px;
    padding: 0px;
    /*overflow-y: hidden;*/
}

#panel {
    display: none;
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: transparent;
    padding: 5px;
}

#mainmenu {
    position: absolute;
    top: 5vh;
    left: 3vw;
    width: 21.5em;
    background-color: #1EB899;
    color: white;
    display: none;
}

#high {
    text-align: right;
}

#menuheader {
    padding-left: 0.5em;
    cursor: move;
}

.slide {
    width: 14em;
    padding-left: 1em;
    padding-right: 1em;
}

#criteria {
    padding-left: 1em;
    /*padding-right: 1em;*/
    padding-top: 1em;
}

.item {
    padding-bottom: 1em;
}

#overlay {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.6;
}

#ajax {
    position: absolute;
    top: 40vh;
    left: 45vw;
    opacity: 0.65;
    display: none;
    width: 220px;
}

.line-separator {
    height: 1px;
    background: #1DA48D;
    border-bottom: 1px solid #1DA48D;
    margin-bottom: 0.8em;
    margin-right: 1em;
    opacity: 0.5;
}

#overlaybutton {
    display: none;
    position: absolute;
    bottom: 10vh;
    left: 45vw;
}

#newmapButton {
    position: relative;
    left: 14em;
    margin-bottom: 0.75em;
    margin-top: none;
    padding-top: none;
}

#transportation {
    padding: 0.12em;
}
.optionButton{
    height: 2.35em;
    width: 6.5em;
    padding-bottom: 0.2em;
    margin-bottom: 0.25em;
}
.options{
    position: relative;
    top: -0.1em;
    font-size: 1em;
}
.optionform{
    position: relative;
    top: -0.1em;
    display: none;
}
#dateRange{
    width: 15em;
    display: none;
}

.date{
    width:50%;
    display: inline-block;
}
.to{
    padding-left: 2em;
}
