html,
body,
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#panel {
    display: none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: transparent;
    padding: 5px;
}

#mainmenu {
    position: absolute;
    top: 10vh;
    left: 3vw;
    width: 21em;
    background-color: #247571;
    color: white;
    display: none;
}

#high {
    text-align: right;
}

#menuheader {
    padding-left: 0.5em;
}

.slide {
    width: 14em;
    padding-left: 1em;
    padding-right: 1em;
}

#criteria {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

.item {
    padding-bottom: 1.2em;
}

#overlay {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.6;
}

.line-separator {
    height: 1px;
    background: #1DA48D;
    border-bottom: 1px solid #1DA48D;
    margin-bottom: 0.8em;
    opacity: 0.5;
}

#overlaybutton {
    display: none;
    position: absolute;
    bottom: 10vh;
    left: 45vw;
}

#newmap {
    position: relative;
    left: 14em;
    margin-bottom: 0.75em;
    margin-top: none;
    padding-top: none;
}

#transportation {
    padding: 0.12em;
}
