html,
body,
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#panel {
    display:none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#mainmenu {
    position: absolute;
    top: 5vh;
    left: 3vw;
    width: 20em;
    background-color: #247571;
    color: white;
/*    height: 10em;*/
}
#high{
    text-align: right;
}
#menuheader{
    padding-left: 0.5em;
}
.slide{
    width: 17em;
}


